<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.primebudgetingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ksh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ksh"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentBudgetingApp">
        <activity
            android:name=".AccountActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".MonthlyAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".WeeklyAnalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".DailyanalyticsActivity"
            android:exported="true" />
        <activity
            android:name=".ChooseAnalyActivity"
            android:exported="true" />
        <activity
            android:name=".WeekSpendingActivity"
            android:exported="true" />
        <activity
            android:name=".TodaySpendActivity"
            android:exported="true" />
        <activity
            android:name=".TodaySpendingActivity"
            android:exported="true" />
        <activity
            android:name=".BudgetActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>